
body {
	background-color: #194D1E;
}
#blackjackHead {
	color: white;
	text-align: center;

}
#gameBoard {
	height: 500px;
	width: 1000px;
	margin: auto;
	border: solid 5px #000000;
	display: flex;
	justify-content: space-between;
}
