
body {
	background-color: #194D1E;
}
#blackjackHead {
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, red ,black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, red , black); /* Standard syntax */
	text-align: center;
	justify-content: space-between;
}

#gameBoard {
	height: 500px;
	width: 1000px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.cardsHeader {
  background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, black , yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, black, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, black, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, black , yellow); /* Standard syntax */
  color: white;
}

#playerCardsDiv, #dealerCardsDiv {
	background-color: rgba(0, 0, 0, 0.5);
	height: 510px;
	width: 400px;
	margin: 25px;
	flex-shrink: 1;
}

#hit {
	height: 150px;
	width: 200px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	background-color: #5b876b;
	font-weight: bold;
	color: white;
}

#stand {
	height: 150px;
	width: 200px;
	margin: ;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	background-color: #875d5f;
	font-weight: bold;
	color: white;
}

#newGame {
	height: 150px;
	width: 200px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 50px;
	background-color: #a5a6b7;
	font-weight: bold;
	color: white;
}

#buttons {
	text-align: center;
	margin: 15px;
	padding: 25px;
}

#newGameStart {
	color: white;
	font-size: 20px;
	margin: 10px auto;
	width: 600px;
	background-color: #194D1E;
	text-align: center;
}
















